AI_API_KEY=
MODEL_NAME=
LLM_PROVIDER_MODULE=
LLM_MODEL=
LLM_ENDPOINT=
LLM_TIMEOUT_MS=30000
LLM_MAX_RETRIES=2
WORKSPACE_ROOT=
TEST_COMMAND=
MAX_FIX_ATTEMPTS=3
MAX_AGENT_RETRIES=1
MAX_PLAN_STEPS=12
MAX_CONCURRENCY=2
STEP_TIMEOUT_MS=60000
MAX_EXECUTION_TIME_MS=120000
MAX_AGENT_STEPS=12
MAX_TOOL_CALLS=8
MAX_LLM_CALLS=100
COMMAND_TIMEOUT_MS=10000
MAX_COMMAND_OUTPUT_BYTES=100000
RETRY_LIMIT=2
MODEL_TEMPERATURE=0.2
MAX_TOKENS=2048
ALLOWED_COMMANDS=
